.entry-content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce):not(
      [class*='max-w']
    ) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  > * {
    + *:not(hr):not([class*='mt']) {
      margin-top: 1.5rem;

      @media screen(lg) {
        margin-top: 2rem;
      }
    }

    + h2:not([class*='mt']) {
      margin-top: 3rem;
    }
  }

  figure.wp-caption a:focus img {
    outline-offset: 2px;
  }

  ul,
  ol {
    margin: 0;
    /* padding-left: calc(2 * var(--global--spacing-horizontal)); */
    padding-left: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    clear: both;
    font-weight: bold;
  }

  h1 {
    font-size: clamp(1.375rem, 1.205rem + 0.73vw, 1.75rem);
  }
  h2 {
    font-size: clamp(1.25rem, 1.136rem + 0.48vw, 1.5rem);
  }
  h1,
  h2 {
    margin-bottom: 1rem;

    + * {
      margin-top: 1rem;
    }
  }

  h3:not([class*='c-title']) {
    font-size: 1.25em;
    font-size: clamp(1.125rem, 1.068rem + 0.24vw, 1.25rem);
  }
  h4:not([class*='c-title']) {
    font-size: 1.125em;
    font-size: clamp(1rem, 0.943rem + 0.24vw, 1.125rem);
  }

  .c-title {
    margin-bottom: 2.5rem;
  }

  /* .c-title-02 {
    margin-bottom: 2rem;
  } */

  h3,
  h4,
  h5,
  h6 {
    + * {
      margin-top: 1rem;
    }
  }

  a {
    text-decoration-line: underline;
  }

  .single & {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: 0.1em;
    }
    /* h1:not([class*='c-title']), */
    h4:not([class*='c-title']) {
      position: relative;
      /* padding-bottom: 0.5rem; */
      padding-top: 1rem;
      padding-bottom: 1rem;

      &::before,
      &::after {
        content: '';
        background-color: theme(colors.secondary);
        height: 2px;
        width: 2rem;
        position: absolute;
        left: 0;
      }

      &::before {
        top: 6px;
        rotate: -18deg;
      }
      &::after {
        bottom: 6px;
        rotate: 18deg;
      }

      /* &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        background-color: theme(colors.primary);
        height: 4px;
      }
      &::before {
        left: 0;
        background-color: theme(colors.primary);
        width: 3em;
      }
      &::after {
        background-color: theme(colors.gray.200);
        width: calc(100% - 3em);
        left: 3em;
      } */
    }

    h2:not([class*='c-title']) {
      border-top: 2px solid theme(colors.primary);
      border-bottom: 2px solid theme(colors.primary);
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    h3:not([class*='c-title']) {
      position: relative;
      padding: 0.5rem;
      padding-left: 1.25rem;
      /* border-left: 4px solid theme(colors.primary); */
      border-bottom: 2px solid theme(colors.primary);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.95em;
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 9999px;
        background-color: theme(colors.secondary);
      }
    }
    h5:not([class*='c-title']),
    h6:not([class*='c-title']) {
      padding: 0.5rem;
      padding-top: 0;
      padding-left: 1.5em;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;

        background-color: theme(colors.primary);
        width: 0.75em;
        height: 4px;
      }
      /* border-left: 4px solid theme(colors.primary); */
    }
    h6:not([class*='c-title']) {
      &::before {
        background-color: theme(colors.secondary);
      }
    }
    h1:not([class*='c-title']) {
      padding: 0.5rem;
      background-color: theme(colors.primary);
      color: white;
    }
  }

  p {
    word-break: break-word;
    line-height: 2;

    + p:not([class*='mt']) {
      margin-top: 1.5rem;
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;
    }
  }

  ol {
    list-style-type: decimal;

    ul {
      list-style-type: circle;
    }
  }

  dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  dd {
    margin: 0;
    /* padding-left: calc(2 * var(--global--spacing-horizontal)); */
  }

  table:not(.c-table),
  .wp-block-table {
    width: 100%;
    min-width: 240px;
    border-collapse: collapse;
  }
  table:not(.c-table) thead,
  table:not(.c-table) tfoot,
  .wp-block-table thead,
  .wp-block-table tfoot {
    text-align: center;
  }
  table:not(.c-table) td,
  table:not(.c-table) th,
  .wp-block-table td,
  .wp-block-table th {
    padding: calc(0.5 * var(--global--spacing-unit));
    border: 1px solid #f3f4f6;
  }

  table:not(.c-table) figcaption,
  .wp-block-table figcaption {
    /* color: var(--global--color-primary); */
    font-size: var(--global--font-size-xs);
  }
  a {
    cursor: pointer;
    text-underline-offset: 3px;
    text-decoration-skip-ink: all;
  }
  a:hover {
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
  }
  .aligncenter {
    clear: both;
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .alignleft {
    float: left;
    margin-right: var(--global--spacing-horizontal);
    margin-bottom: var(--global--spacing-vertical);
  }

  .alignleft {
    text-align: left;
    margin-top: 0;
  }
  .btn a {
    text-decoration: none;
  }
  @media only screen and (min-width: 482px) {
    > .wp-block-image > .alignleft,
    > .wp-block-image > .alignright {
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 481px) {
    > .wp-block-image > .alignleft,
    > .wp-block-image > .alignright {
      margin-left: 0;
      margin-right: 0;
    }
  }

  > .alignleft {
    max-width: var(--responsive--aligndefault-width);
  }

  @media only screen and (min-width: 482px) {
    .alignleft {
      /*rtl:ignore*/
      float: left;

      /*rtl:ignore*/
      margin-right: var(--global--spacing-horizontal);
      margin-bottom: var(--global--spacing-vertical);
    }

    .entry-content > .alignleft {
      max-width: calc(50% - var(--responsive--alignleft-margin));
    }
  }

  /**
 * .aligncenter
 */
  .aligncenter {
    clear: both;
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  /**
 * .alignright
 */
  .alignright {
    margin-top: 0;
    margin-bottom: var(--global--spacing-vertical);
  }

  > .alignright {
    max-width: var(--responsive--aligndefault-width);
  }

  @media only screen and (min-width: 482px) {
    .alignright {
      /*rtl:ignore*/
      float: right;

      /*rtl:ignore*/
      margin-left: var(--global--spacing-horizontal);
    }

    > .alignright {
      max-width: calc(50% - var(--responsive--alignright-margin));
    }
  }

  [class*='inner-container'] > .alignleft + *,
  [class*='inner-container'] > .alignright + * {
    margin-top: 0;
  }

  pre {
    overflow: auto;
  }

  /**
 * .alignwide
 */
  .alignwide {
    clear: both;
  }

  /**
 * .alignfull
 */
  .alignfull {
    clear: both;
  }

  blockquote {
    position: relative;
    padding: 1rem;
    background-color: theme(colors.gray.100);

    &::before {
      position: absolute;
      content: '\201C';
      font-size: 4em;
      left: -0.5rem;
      top: -1.8rem;
      color: theme(colors.primary);
    }
  }
}
